* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

p {
    font-family: 'Libre Baskerville';
    line-height: 1.5rem;
    color: rgb(20, 57, 18);
    width: 75%;
    text-align: center;
}

h3 {
    text-transform: uppercase;
    font-family: 'Josefin Sans';
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #355007;
    text-align: center;
}   

a {
    font-weight: 700;
    color: #355007;
    
}
#hero {
    height: 100vh;
    background-image: url("hero-bg.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero-content {
    margin: 0 auto;
    text-align: center;
    background-color: rgba(236, 235, 235, .8);
    width: 60%;
    height: 60%;
    font-family: 'Josefin Sans';
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 1rem;
}

#hero-content h1 {
    font-size: 3rem;
    color: #cc9d1a;
    border-bottom: 1px solid #143912;
    padding-bottom: .75rem
}

#hero-content h2 {
    margin-top: 1rem;
    font-size: 2rem;
    color: rgba(20, 57, 18, .8);
}

#venue,
#travel {
    display: flex;
    width: 100%;
    align-items: center;
}

.venue-left,
.travel-right {
    padding: 2rem;
    flex: 1;
}

.venue-left img,
.travel-right img {
    max-width: 100%;
}

.venue-right,
.travel-left {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    flex: 1;
}

#faq {
    background-color: #D1C4A9;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.questions {
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 75%;
}

.question {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #a79c84;
}

#faq h4 {
    /* font-size: 1.25rem; */
    font-family: 'Libre Baskerville';
    text-align: center;
    font-weight: 700;
    color: #143912;
    margin-bottom: 1rem;
    
}

hr {
    border: .5px solid #a79c84;
    width: 50%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

footer {
    background-color: #67754E;
    height: 40px;
}

@media (max-width: 768px) {
    #hero-content{
        width: 80%;
    }
    .venue-right,
    .venue-left,
    .travel-right,
    .travel-left {
        padding: 1rem;
    }
    p {
        width: 90%;
    }
    #venue,
    #travel,
    #faq {
        margin-top: 1rem;
        flex-wrap: wrap;
    }
    .questions {
        width: 100%;
    }
}

@media (max-width: 414px) {
    .venue-right,
    .venue-left,
    .travel-right,
    .travel-left {
        flex:  0 1 auto;
    }

    #travel {
        flex-direction: column-reverse;
    }

    #faq {
        padding: 3rem 1rem 3rem 1rem;
    }
}